@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mate SC", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/galaxyjpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    color: white;
    text-shadow: 0 0 20px #cd4f04, 0 0 55px #cd4f04, 0 0 65px #cd4f04, 0 0 100px #cd4f04, 0 0 60px #cd4f04;
    font-size: 60px;
    margin-bottom: 40px;
}

.btn i img {
    width: 20px;
}

.screen {
    cursor: pointer;
    width: 60%;
    height: 500px;
    background: #000 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.controls {
    width: 60%;
    background: #333;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.controls .timestamp {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

@media only screen and (max-width: 992px) {
    .screen,
    .controls {
        width: 90%;
    }
}
@media only screen and (max-width: 720px) {
    .screen {
        height: 400px;
    }
}
@media only screen and (max-width: 520px) {
    h1 {
        font-size: 20px;
    }
    .screen {
        height: 200px;
    }
}
